* {
  box-sizing: border-box;
}


.wrapper {
  width: 100vw;
  display: flex;
  .groups {
    background-color: #253141; 
    width: 300px;
    height: 100vh;
  &__header {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box{
      background-color:  #253141;
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      &__name {
      color: white;
      font-size: 16px;

      }
      &__btn{
        width: 60px;
        text-align: right;
        &__edit__icon{
          color: #ffffff;
          text-decoration: none;
        }
        &__set__icon{
          color: #ffffff;
          padding-left: 5px;
        }
      } 
      }
    }
  
  &__under{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__new {
      &__name {
        color: #ffffff;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
      }
      &__message {
        color: #ffffff;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 11px;
      }
    }
    }
  }
  }
  .main {
    background-color: #ffffff;
    width: calc(100vw - 300px);
    height: 100vh;
    &__header {
      background-color: #ffffff;
      height: 100px;
      border: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__test {
        color: #333333;
        font-size: 20px;
        padding-left: 40px;
        padding-top: 35px;
        &__member{
          color: #999999;
          font-size: 12px;
          padding-top: 15px;
        }

      }
      &__edit {
        height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        line-height: 40px;
        margin-right: 40px;
        border: solid 1px #38aef0;
        &--btn {
          text-decoration: none;
          color: #38aef0;
        }
      }

      }
    &__middle {
      background-color: #fafafa;
      height : calc(100vh - 190px);
      padding-left: 40px;
      &__dates {
        display: flex;
        padding-top: 35px; 
        &__name {
          color: #333333;
          font-size: 16px;
      }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
      }
      }
      &__greet {
        color:#434A54;
        font-size: 14px;
        padding-top: 12px;
      }
      &__dairy {
        padding-top: 46px;
        display: flex;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__text {
        color: #434A54;
        font-size: 14px;
        padding-top: 12px;
      }
    }
    &__form {
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
      &__message{
      display:flex;
        &__box {
          position: relative;
          width: 100%; 
          &__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
          }
          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
            &__file{
            display: none;
          }
   }
      &__btn {
        width: 100px;
        height: 50px; 
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white; 
        cursor: point;
      }
  }
 }
}
